<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <header>
        <div class="nav">

            <div class="nav-item">
                <a id="form-categorias" href="/backend/views//categorias.html">
                    Alta de categorias
                </a>
            </div>

            <div class="nav-item" href="/backend/views/productos.html">
                    Alta de productos
            </div>

        </div>
    </header>
    <main>
        <img src="" alt="">
        <h1 class="title">HOME</h1>
    </main>

    </div>
</body>
</html>