<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TECNOVICIO </title>
    <meta name="description" content="TECNOVICIO: Formulario de alta de nuevas Categorias">
    <meta name="author" content="Valentin Sznitowski">
    <meta name="robots" content="index">
    <meta name="robots" content="nofollow">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>
<body>
    <div class="box">
     <header>
        <div>
            <nav id="nav-form-categorias" class="nav">
                <a id="home" href="/assets/views/home.html">
                    Home
                </a>
            </div>

            <div class="nav-item">
                <a id="home" href="/backend/views/productos.html">
                    Productos
                </a>
            </div>
        </div>
    </header>

    <main>
        <img src="../../assets/img">

        <div class="title">
            <section>
                <form id="form-carga-categorias" action="" method="post" autocomplete="on">
                    <label for="nombre-categoria">Nombre</label>
                    <input type="search" name="nombre-categoria" id="nombre-categoria" placeholder="Ej: Monitores"
                    pattern="[a-zA-Z]" required>

                    <div id="form-caterias-botones">
                        <input id="categorias-reset" class="button" type="reset">
                        <button id="categorias-cancelar" class="button" type="button">Cancelar</button>
                        <input id="categorias-submit" class="button" type="submit">
                    </div>
                </form>
            </section>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>